{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/pxxd.ru/faktoring",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "images\\icon-аdvantages1.svg",
          "mtimeMs": 1640462130231.0208,
          "ctimeMs": 1640462156163.1743,
          "date": "2021-12-30T12:21:54.304Z"
        },
        {
          "file": "images\\icon-аdvantages2.svg",
          "mtimeMs": 1640536052940.7744,
          "ctimeMs": 1640536085773.3857,
          "date": "2021-12-30T12:21:54.528Z"
        },
        {
          "file": "images\\icon-аdvantages3.svg",
          "mtimeMs": 1640462856145.2688,
          "ctimeMs": 1640462998639.9434,
          "date": "2021-12-30T12:21:54.758Z"
        },
        {
          "file": "images\\icon-аdvantages4.svg",
          "mtimeMs": 1640462890495.0295,
          "ctimeMs": 1640462998548.3613,
          "date": "2021-12-30T12:21:55.004Z"
        },
        {
          "file": "images\\icon-аdvantages5.svg",
          "mtimeMs": 1640462906718.7825,
          "ctimeMs": 1640462999524.3767,
          "date": "2021-12-30T12:21:55.229Z"
        },
        {
          "file": "images\\icon-аdvantages6.svg",
          "mtimeMs": 1640462925733.4895,
          "ctimeMs": 1640462998638.9436,
          "date": "2021-12-30T12:21:55.448Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1640948318002.8535,
          "ctimeMs": 1640948337075.2905,
          "date": "2021-12-31T10:59:32.758Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1617219252956.229,
          "ctimeMs": 1640156658964.4363,
          "date": "2021-12-30T12:21:49.682Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1610711709423.6099,
          "ctimeMs": 1640156658933.933,
          "date": "2021-12-30T12:21:49.892Z"
        },
        {
          "file": "images/Faktoring2 (Copy) (Copy).zip",
          "mtimeMs": 1640550927092.4348,
          "ctimeMs": 1640550945879.192,
          "date": "2021-12-30T12:21:50.337Z"
        },
        {
          "file": "images/arrows-slider.png",
          "mtimeMs": 1640451665802.0945,
          "ctimeMs": 1640454110049.9026,
          "date": "2021-12-30T12:21:50.594Z"
        },
        {
          "file": "images/background-1-1.jpg",
          "mtimeMs": 1640335228808.6226,
          "ctimeMs": 1640335241590.105,
          "date": "2021-12-30T12:21:50.900Z"
        },
        {
          "file": "images/background-1.jpg",
          "mtimeMs": 1640249448180.3706,
          "ctimeMs": 1640249461882.0703,
          "date": "2021-12-30T12:21:51.481Z"
        },
        {
          "file": "images/background-2.jpg",
          "mtimeMs": 1640457159328.5205,
          "ctimeMs": 1640457172167.722,
          "date": "2021-12-30T12:21:51.815Z"
        },
        {
          "file": "images/e657421476fd50dd7d44e0e1f79a126e.jpg",
          "mtimeMs": 1640456132901.3503,
          "ctimeMs": 1640456154901.5044,
          "date": "2021-12-30T12:21:53.147Z"
        },
        {
          "file": "images/icon-check.svg",
          "mtimeMs": 1640550926000,
          "ctimeMs": 1640551034874.152,
          "date": "2021-12-30T12:21:53.385Z"
        },
        {
          "file": "images/icon-flag-en.svg",
          "mtimeMs": 1640249601852.7,
          "ctimeMs": 1640249679882.3743,
          "date": "2021-12-30T12:21:53.608Z"
        },
        {
          "file": "images/icon-flag-kz.svg",
          "mtimeMs": 1640249534051.1145,
          "ctimeMs": 1640249591802.6243,
          "date": "2021-12-30T12:21:53.865Z"
        },
        {
          "file": "images/icon-flag-ru.svg",
          "mtimeMs": 1640249617383.4653,
          "ctimeMs": 1640249680862.8774,
          "date": "2021-12-30T12:21:54.078Z"
        },
        {
          "file": "images/img-map.jpg",
          "mtimeMs": 1640544544276.9114,
          "ctimeMs": 1640544569865.0503,
          "date": "2021-12-30T12:21:56.026Z"
        },
        {
          "file": "images/img-slider1.png",
          "mtimeMs": 1640455157908.2078,
          "ctimeMs": 1640455222213.6704,
          "date": "2021-12-30T12:21:56.288Z"
        },
        {
          "file": "images/img-slider2.png",
          "mtimeMs": 1640455220859.9756,
          "ctimeMs": 1640455233665.1575,
          "date": "2021-12-30T12:21:56.538Z"
        },
        {
          "file": "images/logo-foot.svg",
          "mtimeMs": 1640583945771.2275,
          "ctimeMs": 1640583975657.711,
          "date": "2021-12-30T12:21:56.778Z"
        },
        {
          "file": "images/logo-web.svg",
          "mtimeMs": 1640584589964.8853,
          "ctimeMs": 1640584612572.448,
          "date": "2021-12-30T12:21:56.993Z"
        },
        {
          "file": "images/logo.svg",
          "mtimeMs": 1640249482870.9976,
          "ctimeMs": 1640249591943.8398,
          "date": "2021-12-30T12:21:57.218Z"
        },
        {
          "file": "images/Faktoring2 (Copy) (Copy)/icon/outlined/suggested/symbol/icon-check.svg",
          "mtimeMs": 1640550926000,
          "ctimeMs": 1640551017610.777,
          "date": "2021-12-30T12:21:57.526Z"
        },
        {
          "file": "js/jquery-1.9.0.min.js",
          "mtimeMs": 1408557283000,
          "ctimeMs": 1640156658823.8308,
          "date": "2021-12-30T12:21:58.197Z"
        },
        {
          "file": "js/owl.carousel.js",
          "mtimeMs": 1524230530000,
          "ctimeMs": 1640442842847.083,
          "date": "2021-12-30T12:21:58.795Z"
        },
        {
          "file": "styles/bootstrap-grid.min.css",
          "mtimeMs": 1640460862047.44,
          "ctimeMs": 1640460938408.4587,
          "date": "2021-12-30T12:21:59.300Z"
        },
        {
          "file": "styles/ie.css",
          "mtimeMs": 1319908924000,
          "ctimeMs": 1640156658839.244,
          "date": "2021-12-30T12:21:59.510Z"
        },
        {
          "file": "styles/layout.css",
          "mtimeMs": 1640947650568.405,
          "ctimeMs": 1640947679419.1924,
          "date": "2021-12-31T10:59:34.638Z"
        },
        {
          "file": "styles/owl.carousel.css",
          "mtimeMs": 1640455679231.0203,
          "ctimeMs": 1640455691874.9685,
          "date": "2021-12-30T12:21:59.973Z"
        },
        {
          "file": "styles/owl.theme.default.css",
          "mtimeMs": 1524230530000,
          "ctimeMs": 1640442808498.7495,
          "date": "2021-12-30T12:22:00.206Z"
        },
        {
          "file": "images/if_phone_281830.svg",
          "mtimeMs": 1640784555232.7031,
          "ctimeMs": 1640784567999.545,
          "date": "2021-12-30T12:21:55.669Z"
        },
        {
          "file": "js/jquery.scrollTo.js",
          "mtimeMs": 1631517613088.4353,
          "ctimeMs": 1640707660593.788,
          "date": "2021-12-30T12:21:58.495Z"
        },
        {
          "file": "js/slideout.js",
          "mtimeMs": 1640719746134.7974,
          "ctimeMs": 1640719758696.2632,
          "date": "2021-12-30T12:21:59.046Z"
        },
        {
          "file": "mail.php",
          "mtimeMs": 1640867153973.556,
          "ctimeMs": 1640867166609.3313,
          "date": "2021-12-30T12:26:50.667Z"
        },
        {
          "file": "js/ajaxform.js",
          "mtimeMs": 1640864877706.7122,
          "ctimeMs": 1640864890484.9614,
          "date": "2021-12-30T12:26:50.911Z"
        },
        {
          "file": "js/jquery.bpopup.js",
          "mtimeMs": 1631517709737.1309,
          "ctimeMs": 1640866026437.806,
          "date": "2021-12-30T12:26:39.263Z"
        },
        {
          "file": "images/close.png",
          "mtimeMs": 1640943454934.065,
          "ctimeMs": 1640943467907.662,
          "date": "2021-12-31T10:59:33.024Z"
        },
        {
          "file": "images/img-regress-with.png",
          "mtimeMs": 1640932553256.0908,
          "ctimeMs": 1640932566058.4602,
          "date": "2021-12-31T10:59:33.326Z"
        },
        {
          "file": "images/img-regress-without.png",
          "mtimeMs": 1640932630067.1887,
          "ctimeMs": 1640932709210.621,
          "date": "2021-12-31T10:59:33.629Z"
        },
        {
          "file": "images/img-regress3.png",
          "mtimeMs": 1640932836952.3108,
          "ctimeMs": 1640932849680.7102,
          "date": "2021-12-31T10:59:33.943Z"
        },
        {
          "file": "images/row.svg",
          "mtimeMs": 1640945087372.8706,
          "ctimeMs": 1640945100069.0645,
          "date": "2021-12-31T10:59:34.301Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 5 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      },
      "custom-acvsdapypa": {
        "command": "group-css-media-queries {{input}} {{output}}"
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "node-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          },
          {
            "task": "custom-acvsdapypa",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "scss/main.scss",
        "config": {
          "customOutput": "styles\\layout.css",
          "sourceMap": false
        }
      }
    ]
  }
}
